*{
    overflow-x: hidden;
    padding: 0.5rem;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    /* margin: auto; */
    padding: 1rem;
    background-color:rgb(255, 255, 255);
}
.center{
    text-align: center;
}
.heading{
    margin: auto;
    padding: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.head{
    color: #c12886;
}
.desc{
    margin: auto;
    padding-bottom: 1rem;
}
.bill-lable{
    margin: auto;
}
.cash-lable{
    margin: auto;
}
#cash-given{
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border-color: #c12886  ;
}
#bill-amount{
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border-color: #c12886;
}
#check-button{
    margin-top: 1rem;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border-color: #c12886  ;   
    background-color: white;
    color: black;
    width: 10vw;
}
#check-button:hover{
    background-color: #c12886;
    color: white;
}
.change-table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
    padding: 0.4rem;
}
.notes{
    border: 3px solid #c12886;
}
.no-of-notes{
    border: 3px solid #c12886;
}
